
.gamePage h6{
  font-size: 12px;
  font-weight: 600;
}

.basicInfoGamePageTab{
  display: flex;
}

.gamePageCol1{
  width: 60%;
}

.gamePageCol2{
  margin-left: 3vw;
  width: 40%;
}


@media screen and (max-width: 1000px) {
  .basicInfoGamePageTab{
    flex-direction: column;
  }

  .gamePageCol1, .gamePageCol2{
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0;
  }
}