.pageTabs{
  display: flex;
  gap: 30px;
  margin: 25px 0;
}

.pageButtons{
  margin-left: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

.pageButtons .addReviewBtn, .pageButtons .addToMyListBtn{
  border: 0;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .40);
  cursor: pointer;
  font-family: Inter;
}

.pageButtons .addReviewBtn{
  background-color: var(--scorex-color-main-1);
}

.pageButtons .addToMyListBtn{
  background-color: var(--scorex-color-main-2);
}