
.gameHero{
  height: 430px;
  width: 100%;
  position: relative;
  z-index: 20;
}

.gameHero .gameHeroImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gameHero .gameHeroInfo{
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 12;
}

.gameHero .gameHeroInfo h1{
  font-size: 48px;
  font-weight: 600;
  margin: 20px 0;
}

.gameHero .gameHeroInfo h2{
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0;
  color: var(--scorex-color-main-1);
}