.loginModal p{
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  color: #916CC1;
}

.loginLabel{
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  display: block;
  color: var(--font-color-lighter);
}

.loginInput{
  width: 100%;
  background: #3C3348;
  opacity: 80%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  border: none;
}

.loginInput::placeholder{
    color: #D9D7D7;
    
}

.loginSubmit{
  width: 100%;
  border-radius: 5px;
  background: #916CC1;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  font-weight: 600;
}

.loginError{
  background-color: darkred;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 50%;
  margin: 10px auto;
  padding: 10px 5px;
}


@media only screen and (max-width: 600px){

  .loginModal p{
    color: #916CC1;
    font-size: 24px;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 50px;
    
  }
  .loginModal{
    margin: 100px 40px 0 40px;
    box-shadow: none;
  }
  .loginLabel{
    color: #E6E6E6;
    font-weight: 600;
  }
  .loginInput{
    color: #FFF;
    background-color: transparent;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, #FFF 0%, #916CC1 100%);
    border-image-slice: 1;
  }
  .loginInput::placeholder{
    color: #9B9B9B;
  }
  .loginSubmit{
    font-size: 24px;
    font-weight: 600;
    height: 63px;
    background: linear-gradient(90deg, #39333C 0%, #916CC1 100%);
  }
}