
.tabsLoginRegister{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  border-bottom: 1px solid black;
}
.tabsLoginRegister button{
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  color: grey;
  transition: color .1s ease-in;
}

.tabsLoginRegister button.active{
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black;
}

.tabsLoginRegister button:hover{
  background-color: white;
  color: black;
}