
.loginModal{
  text-align: center;
}

.loginModal input{
  display: block;
  width: 80%;
  height: 30px;
  margin: 10px auto;
}

.loginModal input[type="submit"]{
  width: 50%;
}

.loginError{
  background-color: darkred;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 50%;
  margin: 10px auto;
  padding: 10px 5px;
}