
.logo{
  margin-left: 30%;
  width: 40%;
  margin-bottom: 20px;
}

.modalBg{
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.modalContainer{
  position: absolute;
  z-index: 30;
  border-radius: 10px;
  width: 50vw;
  height: 70vh;
  top: 50vh;
  left: 50vw;
  margin-top: -45vh;
  margin-left: -25vw;
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
  box-shadow: 7px 13px 37px darkslategray;
}

.modalContent{
  overflow: scroll;
  height: 100%;
}

.modalContent::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.modalContent {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modalCloseBtn{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

@media only screen and (max-width: 600px){
  .modalContainer{
    width: 70vw;
    height: 100vh;
    background-color: #FFF;
    opacity: 100%;
    margin-top: -50vh;
    margin-left: -50vw;
    border-radius: 0;
  }
  .modalBg{
    background-color: #FFF;
  }
}