
.registerModal p{
    font-size: 18px;
    line-height: 30px;
}

.registerLabel{
  font-size: 18px;
  margin-top: 10px;
  display: block;
}

.registerInput{
    width: 95%;
    background: #D9D9D9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    font-family: Inter;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.registerInput::placeholder{
    color: #916CC1;
}

.registerSubmit{
    width: 100%;
    border-radius: 5px;
    background: #916CC1;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.registerModal p.passwordValidationText{
  font-size: 15px;
  text-align: left;
  width: 100%;
  margin: 5px auto;
}

.registerModal p.passwordValidationText i{
  margin-right: 8px;
}

.registerModal p.passwordValidationText.textValidationGreen, .registerModal .iconCorrect{
  color: green;
}

.registerModal p.passwordValidationText.textValidationRed, .registerModal .iconWrong{
  color: red;
}


@media only screen and (max-width: 600px) {
    .registerModal{
        margin-top: 100px;
        margin-left: 40px;
        box-shadow: none;
    }
}