.carrousel .carrouselCard{
  width: 200px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(96, 96, 96, .25);
  cursor: pointer;
}

.carrouselCard .img{
  height: 80%;
  position: relative;
}

.carrouselCard .imgCover{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  border-radius: 10px;

}

.carrouselCard .imgBlur{
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* filter: blur(7px); */
}

.carrouselCard .carrouselCardInfo{
  height: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-color-card-main);
  position: relative;
  border-radius: 10px;
}

.carrouselCardInfo span{
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-left: 10px;
  flex-shrink: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

}

.carrouselCardInfo p{
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}

.carrouselCardInfo p, .carrouselCardInfo span{
  margin-top: -10px;
}

.carrouselCardInfo .cardScoreColor{
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
}

.scoreTop{
  background-color: var(--mc-color-top);
}

.scoreGood{
  background-color: var(--mc-color-good);
}

.scoreMedium{
  background-color: var(--mc-color-medium);
}

.scoreBad{
  background-color: var(--mc-color-bad);
}