.topNav{
  width: 100%;
  height: 50px;
  grid-area: topNav;
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
  z-index: 100;
  background-color: rgba(29,30,32,0.3);
  backdrop-filter: blur(50px);
}

.topNav input[type="text"]{
  border: 0;
  outline: none;
  margin-left: 30px;
  height: 37px;
  background-color: var(--input-color-main);
  color: var(--font-color-lightgray);
  padding: 0 15px;
  width: 350px;
  border-radius: 4px;
}

input::placeholder{
  color: var(--font-color-lightgray);
  font-family: Inter;
}

.topNav .userIcon{
  cursor: pointer;
  font-size: 25px;
  color: var(--font-color-light);
  position: absolute;
  right: 50px;
}

.topNav .burgerMenuIcon{
  display: none;
  font-size: 25px;
  margin-top: 2px;
  color: var(--font-color-light);
  cursor: pointer;
}

.topNav .logo-scorex-s{
  height: 65%;
  margin-right: auto;
  display: none;
}