.topNav{
  width: 100%;
  height: 50px;
  grid-area: topNav;
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
  z-index: 100;
  background-color: rgba(29,30,32,0.3);
  backdrop-filter: blur(50px);
}

.topNav input[type="text"]{
  border: 0;
  outline: none;
  margin-left: 30px;
  height: 37px;
  background-color: var(--input-color-main);
  color: var(--font-color-lightgray);
  padding: 0 15px;
  width: 350px;
  border-radius: 4px;
}

input::placeholder{
  color: var(--font-color-lightgray);
  font-family: Inter;
}

.topNav .userIcon{
  cursor: pointer;
  font-size: 25px;
  color: var(--font-color-light);
  right: 50px;
  margin-right: 40px;
}

.topNav .logoutBtn{
  margin-left: auto;
  border: 2px solid var(--font-color-light);
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-weight: 500;
}

.topNav .logoutBtn:hover{
  background-color: white;
  color: var(--scorex-color-main-4);
  border: 2px solid white;
}

.topNav .burgerMenuIcon{
  display: none;
  font-size: 25px;
  margin-top: 2px;
  color: var(--font-color-light);
  cursor: pointer;
}

.topNav .logo-scorex-s{
  height: 65%;
  margin-right: auto;
  display: none;
}