
.searchCard{
  width: 200px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 3px gray;
  cursor: pointer;
}

.searchCard .img{
  height: 80%;
  position: relative;
}

.searchCard .imgCover{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  border-radius: 10px;

}

.searchCard .imgBlur{
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(7px);
}


.searchCard .searchCardInfo{
  height: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #272727;
  position: relative;
  border-radius: 10px;
}
.searchCardInfo{
  display: flex;
  flex-direction: column;
}

.searchCardInfo span{
  height: 35px;
  width: 35px;
  font-weight: 500;
  border-radius: 5px;
  flex-shrink: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  align-self: flex-end;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 5px;
}

.searchCardInfo p{
  
  width: 150px;
  align-self: flex-start;
  margin-left: 5px;
}
#title{
  margin-top: 5px;
  font-size: 13px;
  font-weight: 450;
}
#date{
  margin-top: -8px;
  font-weight: 100;
  font-size: 10px;
}
.cardScoreColor{
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
}

.scoreTop{
  background-color: var(--mc-color-top);
}

.scoreGood{
  background-color: var(--mc-color-good);
}

.scoreMedium{
  background-color: var(--mc-color-medium);
}

.scoreBad{
  background-color: var(--mc-color-bad);
}