
.searchCard{
  width: 200px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 3px gray;
  cursor: pointer;
}

.searchCard .img{
  height: 80%;
  position: relative;
}

.searchCard .imgCover{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  border-radius: 10px;

}

.searchCard .imgBlur{
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(7px);
}


.searchCard .searchCardInfo{
  height: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  position: relative;
  border-radius: 10px;
}

.searchCardInfo span{
  height: 40px;
  width: 40px;
  background-color: blue;
  border-radius: 5px;
  margin-left: 10px;
  flex-shrink: 0;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.searchCardInfo p{
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}