:root {
  background-color: #F7F9FB;
  font-family: Inter;
}

#root{
  font-size: 1.3rem;
}

#root h1{
  font-size: 2rem;
  margin: 1rem 0;
}

#root h2{
  font-size: 24px;
  margin: .5rem 0;
  font-weight: 600;
  color: #242424;
}

#app{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 20% 80%;
  grid-template-areas: "topNav topNav" "leftNav main";
}